*{
  box-sizing: border-box;
  padding: 0 0.9%;
  font-family: 'Epilogue';
  color: #2D2D2D;
}
.Fleur{
  font-family: 'Fleur De Leah';
}

.heading{
  transition: 0.5s;
  
}
.heading:hover{
color:#009379 ;
}
.transition{
  transition: 0.5s;
}


